<div class="navbar bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/duvida.png" alt="Logo">
        </a>

        <a class="btn btn-success" href="/perguntar">Perguntar</a>
    </div>
</div>